<div class="contents row">
  <div class="container">
    <h2>新規登録</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "パスワード" %>
        </div>

        <div class="form-group">
          <%= f.text_field :name, class: "form-control", placeholder: "ニックネーム" %>
        </div>

        <div class="btn-group btn-group-toggle d-flex mb-3" data-toggle="buttons">
          <label class="btn btn-light flex-fill mr-2 active">
            <%= f.radio_button :gender, :man, class: "form-check-input" %>
            <label class="form-check-label">男性</label>
          </label>
          <label class="btn btn-light flex-fill">
            <%= f.radio_button :gender, :woman, class: "form-check-input" %>
            <label class="form-check-label">女性</label>
          </label>
        </div>

        <div class='input-birth-wrap'>
          <%= raw sprintf(
                  f.date_select(
                    :birth_day,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1930,
                    end_year: (Time.now.year - 5),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
        </div>

        <div class="form-group">
          <%= f.text_field :hobby, class: "form-control", placeholder: "趣味" %>
        </div>

        <div class="form-group">
          <%= f.text_area :self_introduction, class: "form-control", placeholder: "自己紹介" %>
        </div>

        <div class="field">
          <%= f.file_field :image %>
        </div>
  

        <div class="sign-up__submit-btn">
          <%= f.submit "登録", class: "btn btn-block text-white" %>
        </div>
      <% end %>
  </div>
</div>