<div class="wrapper">
<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>Overview</h2>
      <ul>
        <li><%= link_to 'Privacy policy', "#", class: "footer-link" %></li>
        <li><%= link_to 'Terms of service', "#", class: "footer-link" %></li>
        <li><%= link_to 'Special contract', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>Check</h2>
      <ul>
        <li><%= link_to 'Reviews', "#", class: "footer-link" %></li>
        <li><%= link_to 'Like', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>How to Use</h2>
      <ul>
        <li><%= link_to 'Guide', "#", class: "footer-link" %></li>
        <li><%= link_to 'Guidelines', "#", class: "footer-link" %></li>
        <li><%= link_to 'Notice', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
</div>
</div>